html, body, p{ 
	margin:auto; 
	padding:0; 
}

header{
    margin: auto;
    text-align: start;
    padding:25px 0px;
	background-color: pink;
}

footer{
    padding:20px 0px;
    padding-top: 0px;
    background-color: pink;
    position: absolute; bottom: 0; left: 0; right: 0;
    align-items: flex-end;
}

.haut{
    align-items: flex-start;
}
